<tr>

  <td class="flex px-6 py-4">
    
    <div class="flex items-center text-sm font-medium leading-5 text-gray-900 ">

      <div class="flex-shrink-0 w-10 h-10">
        <img class="w-10 h-10 rounded-full" src="https://jrs-technology.com/wp-content/uploads/2016/05/GoogleLOGO256x256.png" alt="">
      </div>

      <%= link_to joboffer, class:"ml-4" do %>
        <%= joboffer.title %>
      <% end %>

    </div>

  </td>

  <td class="px-6 py-4">
    <div class="text-sm leading-5 text-gray-500">
      <%= truncate(joboffer.description, length: 200) %>
    </div>
  </td>

  <td class="px-6 py-4 bg-white">
    <% if joboffer.impressions_count == nil %>
    <div class="flex items-center flex-1">
      <%= render_svg "icons/view", styles:"icon-sm fill-current text-gray-400" %>
      <span class="ml-2 text-sm leading-5 text-gray-500">0</span>
    </div>
    <% else %>
    <div class="flex items-center flex-1">
      <% if  session[:view_id].include? joboffer.id && !current_user.admin %>
        <%= render_svg "icons/view", styles:"icon-sm fill-current text-green-400" %>
        <span class="ml-2 text-sm leading-5 text-green-500"><%= joboffer.impressions_count %></span>
      <% else %>
        <%= render_svg "icons/view", styles:"icon-sm fill-current text-gray-400" %>
        <span class="ml-2 text-sm leading-5 text-gray-500"><%= joboffer.impressions_count %></span>
      <% end %>
    </div>
    <% end %>
    <div class="flex items-center flex-1">
    <% if joboffer.candidates.ids.include? session[:session_candidate_id] && !current_user.admin %>
      <%= render_svg "icons/cv", styles:"icon-sm fill-current text-green-400" %>
      <span class="ml-2 text-sm leading-5 text-green-500"><%= joboffer.candidates.count %></span>
    <% else %>
      <%= render_svg "icons/cv", styles:"icon-sm fill-current text-gray-400" %>
      <span class="ml-2 text-sm leading-5 text-gray-500"><%= joboffer.candidates.count %></span>
    <% end %>
    </div>
  </td>

  <div class="text-left">
    <% if user_signed_in? && current_user.admin == true %>
      <td class="pr-2">
        <div>
          <div class="mb-1">
            <%= link_to edit_joboffer_path(joboffer), class:"mb-1" do %>
              <%= render_svg "icons/edit", styles:"icon-sm fill-current text-gray-400" %>
            <% end %>
          </div>
          <div>
          <%= link_to joboffer, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= render_svg "icons/delete", styles:"icon-sm fill-current text-gray-400" %>
          <% end %>
          </div>
        </div>
      </td>
    <% end %>
  </div>

</tr>

